/* Стиль для списка */
ul {
    list-style: none; /* Убираем маркеры перед элементами списка */
    padding: 0;
}

/* Стиль для элементов списка */
li {
    margin: 10px 0;
    display: flex; /* Располагаем элементы внутри <li> в ряд */
    align-items: center; /* Выравниваем элементы по вертикали */
    flex-direction: column; /* Отображаем атрибуты вертикально */
    padding: 10px; /* Добавляем внутренний отступ */
}

/* Стиль для ссылок в элементах списка */
li a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #0077B5; /* Цвет ссылок */
    margin-right: 10px; /* Добавляем отступ справа от ссылки */
}

/* Стиль для атрибутов */
.book_field {
    font-weight: bold; /* Жирный шрифт для атрибутов */
    margin-right: 5px; /* Добавляем небольшой отступ справа от атрибутов */
    margin-top: 5px; /* Добавляем отступ сверху между атрибутами */
    color: #555; /* Цвет атрибутов */
    text-align: center; /* Центрируем текст атрибутов */
    border: 1px solid #ddd; /* Добавляем обводку только вокруг каждого элемента списка */
    width: 80%; /* Определяем ширину элементов списка */
    max-width: 500px; /* Максимальная ширина элементов списка */
    padding: 10px; /* Добавляем внутренний отступ */
    box-sizing: border-box; /* Учитываем ширину рамки внутри элемента */
}


/* Стиль для кнопки "Добавить книгу" */
#openDialogButton {
    background-color: #0077B5; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убрать границу */
    padding: 10px 20px; /* Внутренний отступ */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменить курсор при наведении */
}

/* Стиль для чекбоксов "В наличии" и "Возврат просрочен" */
label {
    margin-right: 10px; /* Отступ между элементами */
    font-weight: bold; /* Жирный текст */
    color: #555; /* Цвет текста */
}

input[type="checkbox"] {
    transform: scale(1.5); /* Увеличить размер чекбоксов */
    margin-right: 30px; /* Отступ между чекбоксом и текстом */
}

/* Дополнительные стили для чекбоксов, если нужно */
#availabilityCheckbox:checked, #returnExpiredCheckbox:checked {
    color: #0077B5; /* Изменить цвет текста при выборе */
}
#openDialogButton {
    margin-right: 30px; /* Добавьте отступ снизу для кнопки "Добавить книгу" */
}
